.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 15px;
    color: black;
}

.copy_right_footer {
bottom: 0;
position: fixed;
text-align: center;
width: 100%;
background: grey;
color: white;
line-height: 3;
box-shadow: -5px -5px 5px darkgray;
}

canvas{
    border: 5px white solid;
    box-shadow: -5px -5px 5px darkgray;
}

body{
    background-position: center;
    background-size: cover;
}